version: '3.9'
web-apps:
  app:
    build:
      context: ./app
    command: python manage.py runserver 0.0.0.0:8000

    ports:
      - 8000:8000
    volumes:
      - ./web-app:/web-app
      - static_value:/app/static/
      - media_value:/app/media/
    env_file:
      - ./.env

    depends_on:
      - db

  db:
   image: postgres:12.4
   restart: always
   volumes:
     - postgres_data:/var/lib/postgresql/data/
   env_file:
     - ./.env

  redis:
      image: redis:7.0.5-alpine
      hostname: redis

  celery:
    build:
      context: ./app
    hostname: worker
    # entrypoint: celery
    command: celery -A stats_vk worker -l INFO
    volumes:
      - ./web-app:/web-app
    links:
      - redis
    depends_on:
      - redis
      - db
    env_file:
     - ./.env

  nginx:
    image: nginx:1.19.3
    ports:
      - 80:80
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - static_value:/var/html/static/
      - media_value:/var/html/media/
    restart: always
    depends_on:
      - app

  celery-beat:
    build:
      context: ./app
    hostname: flower
    command: celery -A stats_vk beat -l info
    volumes:
      - ./web-app:/web-app
    env_file:
     - ./.env
    depends_on:
      - redis
  
  flower:
    build:
      context: ./app

    command: celery -A stats_vk flower
    volumes:
      - ./web-app:/web-app
    env_file:
     - ./.env
    links:
      - redis
    depends_on:
      - redis
    ports:
      - 5555:5555

volumes:
  postgres_data:
  static_value:
  media_value:
